In [4]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import zipfile

# Data Understanding

In [5]:
zf = zipfile.ZipFile('data/gw_data.zip') 

data = pd.read_csv(zf.open('donors.csv'))

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (9,412) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
data.head()
# dataset load ok, no issue pops up

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,...,7.741935,95515,0,L,4,E,X,X,X,C
1,1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,...,15.666667,148535,0,L,2,G,X,X,X,A
2,2,2010-01-01,AMH,1,NC,27017,,,NaN,0,...,7.481481,15078,1,L,4,E,X,X,X,C
3,3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,...,6.812500,172556,1,L,4,E,X,X,X,C
4,4,2006-01-01,,0,FL,33176,,,1940-01-01,0,...,6.864865,7112,1,L,2,F,X,X,X,A

In [7]:
#The first column it's just a numeric index. We can remove this column and keep using the index that was created by pandas.
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [12]:
#The dataframe has a lot of columns. We have to find a way to analyse the data
len(data.columns)

475

# Data Preparation

## Strip and lowercase all strings

In [21]:
#We have work on this. Some colunms are object but has some float values (DOB), and then we get the error below.
for column in data:
    if data[column].dtype == 'object':
        print(column, " - ", data[column].dtype)
        data[column] = data[column].apply(str.strip).apply(str.lower)
        
data.head()

ODATEDW  -  object
OSOURCE  -  object
STATE  -  object
ZIP  -  object
MAILCODE  -  object
PVASTATE  -  object
DOB  -  object

TypeError: descriptor 'strip' for 'str' objects doesn't apply to a 'float' object

# Feature Engineering